/app/cache/*
/nbproject/
/dev/sql
/app/cache/config/*
/app/classmap-propel-conf.php
/app/propel-conf.php
/app/lib/propel/om
/app/lib/propel/map
/app/data/i18n/*mo
/app/mycache/
/pub
/docs
/app/data/messages.php
/app/messages.php
/app/log/*
/.buildpath
/.project
/.settings
/test/propel.log
/libs/HTMLPurifier/.fr-XAHncI
/tmp
/build.properties
/dev/conf/buildtime-conf.xml
/dev/bin/cli.php
/app/config/databases.xml
/14/
/14/nbproject/private/
/00*
